:global(.purchase-request-items .el-form-item__content) {
  margin-left: 0 !important;
}
:global(.el-link__inner) {
  white-space: nowrap;
}
:global(.common-form-items .el-form-item__content) {
  margin-left: 0 !important;
}
:deep(.common-form-tabs-items .el-form-item__content) {
  margin-left: 0 !important;
}
:deep(.common-form-tabs-items .el-form-item) {
  margin-bottom: 15px!important;
}
